{% extends "base.html" %}
{% block title %} <title>Больницы</title> {% endblock %}
{% block content %}
{% for hospital in hospital_list %}
  <div>
    <h5>Название: {{ hospital.name }}</h5>
    <h5>Номер: {{ hospital.number }}</h5>
    <h5>Понедельник: {{ hospital.time_table_id.monday }}</h5>
    <h5>Вторник: {{ hospital.time_table_id.tuesday }}</h5>
    <h5>Среда: {{ hospital.time_table_id.wednesday }}</h5>
    <h5>Четверг: {{ hospital.time_table_id.thursday }}</h5>
    <h5>Пятница: {{ hospital.time_table_id.friday }}</h5>
    <h5>Суббота: {{ hospital.time_table_id.saturday }}</h5>
    <h5>Воскресенье: {{ hospital.time_table_id.sunday }}</h5>
  </div>
{% endfor %}
{% endblock %}