{% extends "base.html" %}
{% block title %} <title>{{ title }}</title> {% endblock %}
{% block content %}
  <div class="container">
    <h1>Информация о пользователе:</h1>
    <h1>Username: {{ user.username }}</h1>
    <h1>Имя: {{ user.first_name }}</h1>
    <h1>Фамилия: {{ user.last_name }}</h1>
    {% if user.doctor %}
      <hr>
      <h1>Информация для доктора:</h1>
      {{user.doctor.speciality_name}} |
      {{user.doctor.hospital_id}} |
      {{user.doctor.time_table_id}}
      <h2>К вам записаны:</h2>
      <ol>
      {% for zapis in zapisi_d %}
        <li>{{zapis.patient}} записан на {{zapis.date}}</li>
      {% endfor %}
      </ol>
      <h2>Ваши пациенты:</h2>
      <ol>
      {% for patient in patietns %}
        <li>
          <a class="link" href="{% url 'karta_bolezni' patient.pk %}">{{patient}}</a>
        </li>
      {% endfor %}
      </ol>
    {% elif user.patient %}
      <hr>
      <h1>Информация для пациента</h1>
      {{user.patient}}
      <h2>Записи:</h2>
      <ol>
        {% for zapis in zapisi_p %}
          <li>
            <a class="link" href="{% url 'doctor' zapis.doctor.pk %}">{{zapis}}</a>
          </li>
        {% endfor %}
      </ol>
      <h2>Болезни:</h2>
      <ol>
        {% for karta in karta_bolezni %}
          <li>
            <a class="link" href="{% url 'bolezn_info' karta.pk %}">{{karta}}</a>
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  </div>
{% endblock %}