* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FFEB3B;
  padding: 20px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

header a:hover {
  background-color: #FBC02D;
  color: #212121;
}

nav {
  display: flex;
  align-items: center;
}

.container {
  padding: 2% 25% 25%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn, .loginbtn {
  margin-left: 50px;
  background-color: #FFEB3B;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover , .loginbtn:hover {
  opacity:1;
}

.grid {
  padding: 3% 3% 3%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(5, 80px);
}

.cell {
  background-color: #FFEB3B;
  border-radius: 7px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}

.cell:hover {
  border: 1px solid black;
}

.title {
  text-align: center;
}

.rectangle {
  counter-reset: li;
  list-style: none;
  font: 18px "Trebuchet MS", "Lucida Sans";
  padding: 0;
}

.rectangle a {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: #FFEB3B;
  text-decoration: none;
  color: inherit;
  margin-right: 50px;
}

.rectangle a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.rectangle a:hover:after {
  left: -.5em;
  border-left-color: #9097A2;
}

.time_table {
  display: grid;
}